<div class="p-5">
    <h2 class="text-2xl font-bold mb-5">
      {{ isEditMode ? "Sửa Bàn" : "Thêm Bàn" }}
    </h2>
    <form>
      <div class="form-group">
        <label for="materialName">Tên bàn:</label>
        <input
          type="text"
          id="materialName"
          [(ngModel)]="formData.tenBan"
          name="tenLoai"
          placeholder="Nhập tên bàn..."
        />
      </div>
  
      <div class="form-group">
        <label>Trạng thái:</label>
        <select [(ngModel)]="formData.trangThai" name="trangThai" class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none" required>
          <option [ngValue]="0">Còn trống</option>
          <option [ngValue]="1">Đặt trước</option>
          <option [ngValue]="2">Đang sử dụng</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="category">Loại bàn:</label>
        <select
          id="category"
          [(ngModel)]="formData.loaiBan"
          name="loaiBanAn"
          class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none"
        >
          <option 
          *ngFor="let danhMuc of loaiBanAn" 
          [ngValue]="danhMuc" 
          >
            {{ danhMuc.name }}
          </option>
        </select>
      </div>
  
      <div class="flex justify-end gap-2">
        <button type="button" class="btn cancel-btn" (click)="onCancel()">
          Hủy
        </button>
        <button type="button" class="btn save-btn" (click)="onSave()">Lưu</button>
      </div>
    </form>
  </div>
  