<div class="sticky-spacer"></div>

<!-- Wrapper Sticky -->
<div class="sticky-wrapper" [ngClass]="{ fixed: isSticky }">
  <div class="sticky-margin">
    <!-- Thanh tìm kiếm -->
    <div
      class="flex items-center bg-gray-100 rounded-full px-4 py-2 mb-4 w-full max-w-lg shadow-md"
    >
      <i class="fal fa-home text-blue-500 text-xl mr-3"></i>
      <input
        (keyup)="searchMonAn($event)"
        type="text"
        class="flex-1 bg-transparent border-none outline-none text-gray-600 placeholder-gray-400 text-base"
        placeholder="Bạn muốn tìm món gì?"
      />
      <button (click)="chuyenSangChiTiet()">
        <i class="fas fa-ellipsis-v text-blue-500"></i>
      </button>
    </div>

    <!-- Thanh danh mục -->
    <div
      class="overflow-x-auto scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100"
    >
      <div class="grid grid-cols-7 gap-15 min-w-[700px]">
        <ng-container *ngFor="let category of loaiMonAn">
          <button
            *ngIf="check(category.ma)"
            [ngClass]="
              selectedItem === category
                ? '!bg-blue-500 !text-white'
                : '!bg-white !text-black'
            "
            (click)="selectCategory(category, $event)"
            class="text-center py-2 px-4 rounded-lg border shadow-md min-w-[105px] max-w-[120px] whitespace-nowrap overflow-hidden text-ellipsis hover:bg-orange-300"
            id="btn-{{ category.ma }}"
          >
            {{ category.ten }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Hiển thị món ăn theo danh mục -->
<ng-container *ngFor="let category of loaiMonAn">
  <div
    *ngIf="check(category.ma)"
    id="{{ category.ma }}"
    class="mb-4 content-wrapper px-4"
  >
    <h2 class="text-xl font-bold mb-2 category-title">{{ category.ten }}</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div
        *ngFor="let item of getMonAnTheoDanhMuc(category.ma)"
        class="p-4 bg-white rounded-lg shadow-lg flex flex-col justify-between"
      >
        <img
          [src]="imageUrls[item.ma]"
          alt="Image Preview"
          class="rounded-lg w-full h-35 object-cover"
        />
        <h3 class="mt-2 text-lg font-bold">{{ item.ten }}</h3>
        <div *ngIf="item.giamGia > 0; else noDiscount">
          <p class="text-red-600 text-xl font-bold">
            {{ (item.gia * (1 - item.giamGia / 100)) | number:'1.0-0' }}₫
          </p>
          <div class="text-red-600 font-bold">
            <span class="line-through text-gray-400 mr-1">{{ item.gia | number }}₫</span>
            <span>-{{ item.giamGia }}%</span>
          </div>
        </div>

        <!-- Nếu không giảm giá -->
        <ng-template #noDiscount>
          <p class="text-red-600 text-xl font-bold">
            {{ item.gia | number:'1.0-0' }}₫
          </p>
        </ng-template>

        <!-- Nút tùy thuộc vào trạng thái -->
        <div class="mt-3">
          <!-- Nếu số lượng là 0, hiện nút "+" -->
          <div *ngIf="item.soLuong === 0">
            <button
              (click)="tangSoLuong(item.ma)"
              class="px-2 py-1 bg-blue-500 rounded-lg"
            >
              +
            </button>
          </div>

          <!-- Nếu số lượng lớn hơn 0, hiện giao diện tăng/giảm -->
          <div *ngIf="item.soLuong > 0" class="flex items-center">
            <button
              (click)="giamSoLuong(item.ma)"
              class="px-2 py-1 bg-gray-300 rounded-lg !text-black"
            >
              -
            </button>
            <span class="mx-3 text-lg">{{ item.soLuong }}</span>
            <button
              (click)="tangSoLuong(item.ma)"
              class="px-2 py-1 bg-gray-300 rounded-lg !text-black"
            >
              +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Thanh tổng tiền, chỉ hiển thị khi có ít nhất 1 món -->
<div
  *ngIf="coMonAnDuocChon()"
  class="fixed-bottom-bar fixed bottom-0 left-0 w-full bg-blue-500 text-white shadow-lg"
>
  <div class="flex items-center justify-between px-4 py-2">
    <span class="text-lg font-bold"
      >Tổng tiền: {{ tinhTongTien() | number }} VND</span
    >
    <button
      class="bg-white hover:bg-gray-100 !text-blue-500 rounded-lg font-bold px-4 py-2"
      (click)="chuyenSangXacNhan()"
    >
      Xác nhận
    </button>
  </div>
</div>
