<div class="popup-backdrop">
  <div class="popup-box">
    <div class="p-5">
      <h2 class="text-2xl font-bold mb-5">
        {{ isEditMode ? "Sửa Người Dùng" : "Thêm Người Dùng" }}
      </h2>
      <form *ngIf="isEditMode">
        <div class="form-group">
          <label for="materialName">Tên Người Dùng:</label>
          <input
            type="text"
            id="materialName"
            [(ngModel)]="formData.fullName"
            name="fullName"
            placeholder="Nhập tên người dùng..."
          />
        </div>
        <div class="form-group">
          <label for="materialName">Nhân viên:</label>
          <select
            id="materialName"
            [(ngModel)]="formData.nhanVienId"
            name="nhanVienId"
            class="w-full border border-gray-300 rounded-md p-2"
          >
            <option *ngFor="let nhanVien of nhanVien" [value]="nhanVien.id">
              {{ nhanVien.tenNhanVien }}
            </option>
          </select>
        </div>

        <div class="flex justify-end gap-2">
          <button type="button" class="btn cancel-btn" (click)="onCancel()">
            Hủy
          </button>
          <button type="button" class="btn save-btn" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
      <form *ngIf="!isEditMode">
        <div class="form-group">
          <label for="materialName">Tên Người Dùng:</label>
          <input
            type="text"
            id="materialName"
            [(ngModel)]="createUser.fullName"
            name="fullName"
            placeholder="Nhập tên người dùng..."
          />
        </div>
        <div class="form-group">
          <label for="materialName">Tên Đăng Nhập:</label>
          <input
            type="text"
            id="materialName"
            [(ngModel)]="createUser.username"
            name="username"
            placeholder="Nhập tên đăng nhập..."
          />
        </div>
        <div class="form-group">
          <label for="materialName">Mật Khẩu:</label>
          <input
            type="password"
            id="materialName"
            [(ngModel)]="createUser.password"
            name="password"
            placeholder="Nhập mật khẩu..."
          />
        </div>
        <div class="form-group">
          <label for="materialName">Nhân viên:</label>
          <select
            id="materialName"
            [(ngModel)]="createUser.nhanVienId"
            name="nhanVienId"
            class="w-full border border-gray-300 rounded-md p-2"
          >
            <option *ngFor="let nhanVien of nhanVien" [value]="nhanVien.id">
              {{ nhanVien.tenNhanVien }}
            </option>
          </select>
        </div>
        <div class="flex justify-end gap-2">
          <button type="button" class="btn cancel-btn" (click)="onCancel()">
            Hủy
          </button>
          <button type="button" class="btn save-btn" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
