<div class="popup-backdrop">
    <div class="popup-box">
      <div class="p-5">
        <h2 class="text-2xl font-bold mb-5">
          {{ isEditMode ? "Sửa combo" : "Thêm combo" }}
        </h2>
        <form>
          <div class="form-group">
            <label for="materialName">Tên combo</label>
            <input
              type="text"
              id="materialName"
              [(ngModel)]="formData.tenCombo"
              name="tenCombo"
              placeholder="Nhập tên combo..."
            />
          </div>
          <div class="mb-4">
            <label class="materialName">Hình ảnh</label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept="image/*"
              class="border border-gray-300 p-2 rounded w-full"
            />
          </div>
      <!-- ------------------------------------------------- --------------------------------------------------->
      
          <div>
            <label class="materialName">Món ăn theo loại</label>
            
            <!-- Lặp qua các loại nguyên liệu -->
            <div *ngFor="let loai of loaiSelections; let i = index" class="relative bg-gray-100 border rounded-xl p-4 mb-4 space-y-3">
              <button (click)="removeLoaiSelection(i)"
              class="absolute top-2 right-2 !text-red-500 !hover:text-red-700 !text-lg !font-bold">
                &times;
              </button>
              <!-- Dropdown chọn loại nguyên liệu -->
              <label class="text-sm font-medium text-gray-700">Loại món ăn {{ i + 1 }}</label>
              <div class="flex flex-cols">
                <select [(ngModel)]="loai.selectedLoaiId"
                
                        (change)="onLoaiMonAnChange(i)"
                        [ngModelOptions]="{standalone: true}"
                        class="w-full mt-1 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                  <!-- <option value="" disabled selected>Chọn loại nguyên liệu</option> -->
                  <option *ngFor="let l of loaiMonAn" [value]="l.id" [disabled]="isLoaiDuplicate(l.id, i)">
                    {{ l.name }}
                  </option>
                </select>
              </div>
      
  
              <!-- Lặp qua các nguyên liệu đã chọn và hiển thị dropdown, số lượng, ghi chú -->
              <label *ngIf="loai.selectedLoaiId" class="text-sm font-medium text-gray-700">Danh sách món ăn</label>
              <div *ngFor="let item of loai.monAns; let j = index" class="bg-white p-3 rounded shadow mb-3">
                <div class="space-y-4 mb-4">
                    <!-- Một item món ăn -->
                    <div class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm space-y-3">
                  
                      <!-- Dropdown chọn món ăn -->
                      <select [(ngModel)]="item.monAn.id"
                              (ngModelChange)="updateMonAnName(loai, item)"
                              name="monAn-{{i}}-{{j}}"
                              class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
                        <option *ngFor="let nl of loai.filteredMonAn" [value]="nl.id" [disabled]="isMonAnDuplicate(nl, i, j)">
                          {{ nl.name }}
                        </option>
                      </select>
                  
                      <!-- Link tải ảnh -->
                      <div>
                        <a (click)="download(parseJSON(item.monAn.hinhAnh)?.id)"
                           class="text-blue-600 underline hover:text-blue-800 transition">
                          {{ parseJSON(item.monAn.hinhAnh)?.name }}
                        </a>
                      </div>
                  
                      <!-- Giá tiền -->
                      <div class="text-xl font-semibold text-center text-green-700">
                        {{ item.monAn.giaTien | number:'1.0-0'}}
                      </div>
                  
                      <!-- Nút xóa -->
                      <div class="text-right">
                        <button (click)="removeMonAnInLoai(i, j)" class="bg-red-500 hover:bg-red-600 text-white px-4 py-1 rounded transition">
                          Xóa
                        </button>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Chỉ hiển thị nút Thêm nguyên liệu khi loại nguyên liệu được chọn -->
              <div *ngIf="loai.selectedLoaiId">
                <button class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition w-full sm:w-auto" (click)="addMonAnRow(i)">
                    Thêm nguyên liệu
                </button>
              </div>
              <!-- <button class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition w-full sm:w-auto" 
              (click)="removeLoaiSelection(i)">
                Xóa
              </button> -->
            </div>
      
            <!-- Nút thêm loại nguyên liệu -->
            <button (click)="addLoaiSelection()"
                    class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition w-full sm:w-auto">
                    <!-- <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg> -->
                     Thêm
            </button>
          </div>
          <!-- ------------------------------------------------------------------------------------------------------------ -->
          <div class="form-group mt-6">
            <label for="GT">Giá tiền</label>
            <input
              type="number"
              id="GT"
              [(ngModel)]="formData.giaTien"
              name="GiaTien"
              placeholder="Nhập giá tiền..."
            />
          </div>
          <div class="form-group mt-6">
            <label for="materialName">Mô tả</label>
            <input
              type="text"
              id="materialName"
              [(ngModel)]="formData.moTa"
              name="tenMoTa"
              placeholder="Nhập mô tả..."
            />
          </div>
      
          <div class="popup-actions mt-6">
            <button type="button" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition w-full sm:w-auto" (click)="onCancel()">Hủy</button>
            <button type="button" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition w-full sm:w-auto" (click)="onSave()">Lưu</button>
          </div>
        </form>
      </div>    
    </div>
  </div>