/* Tăng chiều rộng hóa đơn */
.receipt {
    width: 660px;
    /* hoặc 100% nếu bạn muốn nó linh hoạt */
    font-family: "Courier New", monospace;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    max-height: 90vh;
    /* Giới hạn chiều cao để không vượt màn hình */
    overflow-y: auto;
    /* Bật cuộn dọc khi nội dung dài */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    position: relative;
}

.header {
    text-align: center;
}

.logo {
    width: 80px;
    margin: 0 auto 10px;
}

h2,
h3 {
    margin: 0;
}

.info p,
.total p,
.note p {
    margin: 4px 0;
    font-size: 14px;
}

/* Tùy chỉnh lại bảng với chiều rộng lớn hơn */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
}

th,
td {
    border-bottom: 1px dashed #ccc;
    padding: 6px 4px;
    // text-align: left;
    text-align: center; 
    vertical-align: middle; /* Căn giữa chữ dọc nếu cần */
        
}

.category td {
    text-align: left !important; /* Căn lề trái */
    font-weight: bold;
    border-bottom: none;
    padding-top: 8px;
}

.total {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.qr {
    text-align: center;
    margin-top: 10px;
}

.qr img {
    width: 120px;
    margin-top: 5px;
}

.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* đóng popup */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: red;
    // background-color: white;
    border: 1px solid red;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-pay {
    background-color: #28a745;
    /* xanh lá */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-pay:hover {
    background-color: #218838;
    /* màu đậm hơn khi hover */
}

.qr-container {
    page-break-inside: avoid;
    break-inside: avoid;
    text-align: center;
    margin-top: 30px;
}