<div class="popup-backdrop">
  <div class="popup-box">
    <div class="p-5">
      <h2 class="text-2xl font-bold mb-5">
        {{ isEditMode ? "Sửa Danh Mục" : "Thêm Danh Mục" }}
      </h2>
      <form>
        <div class="form-group">
          <label for="materialName">Tên Nhà Cung Cấp:</label>
          <input
            type="text"
            id="materialName"
            [(ngModel)]="formData.tenNhaCungCap"
            name="tenDanhMuc"
            placeholder="Nhập tên nguyên liệu..."
          />
        </div>

        <div class="form-group">
          <label for="description">Số điện thoại:</label>
          <input
            type="text"
            id="soDienThoai"
            [(ngModel)]="formData.soDienThoai"
            name="SoDienThoai"
            placeholder="Nhập số điện thoai..."
            minlength="10"
            maxlength="10"
            required
            pattern="^0[0-9]{9}$"
            (input)="onInputChange($event)"
          />
          <small class="text-red-500" *ngIf="phoneError">{{
            phoneError
          }}</small>
        </div>
        <div class="form-group">
          <label for="description">Địa chỉ:</label>
          <textarea
            id="diaChi"
            [(ngModel)]="formData.diaChi"
            name="DiaChi"
            placeholder="Nhập địa chỉ..."
          ></textarea>
        </div>

        <div class="flex justify-end gap-2">
          <button type="button" class="btn cancel-btn" (click)="onCancel()">
            Hủy
          </button>
          <button type="button" class="btn save-btn" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
