<div class="popup-backdrop">
  <div class="popup-box">
    <div class="p-5">
      <h2 class="text-2xl font-bold mb-5">
        {{ isEditMode ? "Sửa Ca Làm Việc" : "Thêm Ca Làm Việc" }}
      </h2>
      <form>
        <div class="form-group">
          <label for="materialName"
            >Tên Ca Làm Việc:
            <span *ngIf="isTenCaLamViecUnvalid" class="text-red-500"
              >*</span
            ></label
          >
          <input
            type="text"
            id="materialName"
            [(ngModel)]="formData.tenCaLamViec"
            name="tenLoai"
            placeholder="Nhập tên ca làm việc..."
          />
          <p *ngIf="isTenCaLamViecUnvalid" class="text-red-500 text-sm mt-1">
            Vui lòng nhập tên ca.
          </p>
        </div>

        <div class="form-group">
          <label for="materialName"
            >Giờ vào:
            <span *ngIf="isGioVaoUnvalid" class="text-red-500">*</span></label
          >
          <input
            type="time"
            id="materialName"
            [(ngModel)]="formData.gioVao"
            name="gioVao"
            placeholder="Nhập giờ vào..."
          />
          <p *ngIf="isGioVaoUnvalid" class="text-red-500 text-sm mt-1">
            Vui lòng chọn giờ ra ca.
          </p>
        </div>
        <div class="form-group">
          <label for="materialName"
            >Giờ ra:
            <span *ngIf="isGioRaUnvalid" class="text-red-500">*</span></label
          >
          <input
            type="time"
            id="materialName"
            [(ngModel)]="formData.gioRa"
            name="gioRa"
            placeholder="Nhập giờ ra..."
          />
          <p *ngIf="isGioRaUnvalid" class="text-red-500 text-sm mt-1">
            Vui lòng chọn giờ vào ca.
          </p>
        </div>

        <div class="form-group">
          <label for="description">Mô Tả:</label>
          <textarea
            id="description"
            [(ngModel)]="formData.moTa"
            name="moTa"
            placeholder="Nhập mô tả..."
          ></textarea>
        </div>

        <div class="flex justify-end gap-2">
          <button type="button" class="btn cancel-btn" (click)="onCancel()">
            Hủy
          </button>
          <button type="button" class="btn save-btn" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
