<div class="popup-backdrop">
  <div class="popup-box">
    <div class="p-5">
      <h2 class="text-2xl font-bold mb-5">
        {{ isEditMode ? "Sửa đơn" : "Thêm đơn" }}
      </h2>
      <form>
        <div class="form-group">
          <label for="tenKhachHang"
            >Tên khách hàng:
            <span *ngIf="isKhachHangUnvalid" class="text-red-500"
              >*</span
            ></label
          >
          <div class="flex items-center gap-2">
            <textarea
              id="tenKhachHang"
              [(ngModel)]="khachHangTT.tenKhachHang"
              name="tenKhachHang"
              placeholder="Nhập tên khách hàng..."
            ></textarea>
          </div>
          <p *ngIf="isKhachHangUnvalid" class="text-red-500 text-sm mt-1">
            Vui lòng nhập tên khách hàng
          </p>
        </div>

        <div class="form-group">
          <label for="diaChi">Địa chỉ:</label>
          <textarea
            id="diaChi"
            [(ngModel)]="khachHangTT.diaChi"
            name="diaChi"
            placeholder="Nhập địa chỉ..."
          ></textarea>
        </div>

        <div class="form-group">
          <label for="em">Email:</label>
          <textarea
            id="em"
            [(ngModel)]="khachHangTT.email"
            name="em"
            placeholder="Nhập email..."
          ></textarea>
        </div>

        <div class="form-group">
          <label for="soDienThoai"
            >Số điện thoại:
            <span *ngIf="isSoDienThoaiUnvalid" class="text-red-500"
              >*</span
            ></label
          >
          <div class="items-center gap-2">
            <input
              id="soDienThoai"
              [(ngModel)]="khachHangTT.soDienThoai"
              maxlength="10"
              name="soDienThoai"
              placeholder="Nhập số điện thoại..."
              pattern="^0[0-9]{9}$"
              (input)="onInputChange($event)"
            />
            <small class="text-red-500" *ngIf="phoneError">{{
              phoneError
            }}</small>
          </div>
        </div>

        <div class="form-group">
          <label for="ngayBatDau">Ngày Đặt:</label>
          <input
            type="date"
            id="ngayBatDau"
            [(ngModel)]="formData.ngayDat"
            name="ngayBatDau"
          />
        </div>
        <div class="form-group">
          <label for="gioDat">Giờ đặt:</label>
          <input
            type="time"
            id="gioDat"
            [(ngModel)]="formData.gioDat"
            name="gioDat"
          />
        </div>

        <div class="form-group">
          <label for="dvt">Bàn:</label>
          <select
            id="dvt"
            [(ngModel)]="formData.ban"
            name="donvitinh"
            class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none"
          >
            <option *ngFor="let danhMuc of banAn" [ngValue]="danhMuc">
              {{ danhMuc.name }}
            </option>
          </select>
        </div>
        <div class="flex justify-end gap-2">
          <button type="button" class="btn cancel-btn" (click)="onCancel()">
            Hủy
          </button>
          <button type="button" class="btn save-btn" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
