<div
  class="sidenav"
  [ngClass]="isSideNavCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fal fa-bars"></i>
    </button>
    @if (!isSideNavCollapsed()) {
    <div class="logo-text">App</div>
    <button class="btn-close" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) { @if (item.children &&
    item.children.length > 0) {
    <li class="sidenav-nav-item">
      <div
        class="sidenav-nav-link flex justify-between"
        (click)="toggleSubmenu(item)"
      >
        <div>
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          <span *ngIf="!isSideNavCollapsed()" class="sidenav-link-text">{{
            item.label
          }}</span>
        </div>
        <i
          *ngIf="!isSideNavCollapsed()"
          class="fal"
          [class.fa-chevron-down]="!item.isOpen"
          [class.fa-chevron-up]="item.isOpen"
        ></i>
      </div>
      @if (item.isOpen && !isSideNavCollapsed()) {
      <ul class="submenu">
        @for (child of item.children; track $index) {
        <li>
          <a
            class="sidenav-nav-link submenu-item"
            [routerLink]="child.routeLink"
            routerLinkActive="active"
          >
            <i class="sidenav-link-icon" [class]="child.icon"></i>
            <span class="sidenav-link-text">{{ child.label }}</span>
          </a>
        </li>
        }
      </ul>
      }
    </li>
    } @else {
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        @if (!isSideNavCollapsed()) {
        <span class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    } }
  </div>
  <div class="sidenav-footer flex justify-between">
    <button class="logout-button" (click)="logout()">
      <i class="fal fa-sign-out"></i>
    </button>
    <button
      class="rounded-full border px-2 border-white hover:bg-gray-500"
      (click)="infoUser()"
    >
      <i class="fal fa-user"></i>
    </button>
  </div>
</div>
