<section id="background-section" class="background-section">
  <div class="container">
    <a href="#" class="logo">
      <img
        class="logo-img"
        src="https://theme.hstatic.net/200000385717/1000767290/14/logo.png?v=465"
        alt="logo"
      />
      Đăng nhập
    </a>
    <div class="login-box">
      <div class="login-content">
        <h1 class="login-title">Sign in to your account</h1>
        <form class="login-form" action="#">
          <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input
              type="input"
              name="username"
              id="username"
              class="form-input"
              placeholder="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="form-input"
              required
            />
          </div>
          <button
            (click)="login()"
            type="submit"
            class="submit-button"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>