<div class="popup-backdrop">
  <div class="popup-box">
    <div class="p-5">
      <h2 class="text-2xl font-bold mb-5">
        <!-- {{ isEditMode ? "Sửa Loại Đơn" : "Thêm Loại Đơn" }} -->
        {{ "Tạo hóa đơn" }}
      </h2>
      <form>
        <div class="form-group">
          <label for="materialName"
            >Tên hóa đơn:
            <span *ngIf="isTenHoaDonUnValid" class="text-red-500"
              >*</span
            ></label
          >
          <input
            type="text"
            id="materialName"
            name="tenHoaDon"
            [(ngModel)]="form.tenHoaDon"
            placeholder="Nhập tên hóa đơn..."
          />
          <p *ngIf="isTenHoaDonUnValid" class="text-red-500 text-sm mt-1">
            Vui lòng nhập tên hóa đơn (HD-ngày-stt).
          </p>
        </div>
        <div class="form-group">
          <label for="materialName">Nhà hàng:</label>
          <input
            type="text"
            id="materialName"
            name="tenNhaHang"
            value="{{ this.nhaHangs[0].tenNhaHang }}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="materialName">Đơn order:</label>
          <input
            type="text"
            id="materialName"
            value="{{ formData.tenDon }}"
            name="tenDonOrder"
          />
        </div>
        <div class="form-group">
          <label for="materialName">Nhân viên:</label>
          <select
            id="dvt"
            [(ngModel)]="nhanViens.id"
            name="nhanvien"
            class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none"
          >
            <option [ngValue]="nhanViens.id">
              {{ nhanViens.tenNhanVien }}
            </option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label for="materialName">Giờ vào:</label>
          <input
            type="datetime-local"
            disabled
            id="materialName"
            [value]="formData.createdDate"
            name="gioVao"
          />
        </div> -->
        <!-- <div class="form-group">
          <label for="materialName">Giờ ra:</label>
          <input
            type="datetime-local"
            id="materialName"
            [(ngModel)]="form.gioRa"
            name="giora"
          />
        </div> -->
        <div class="form-group">
          <label for="materialName"
            >Số người:
            <span *ngIf="isSoNguoiUnValid" class="text-red-500">*</span></label
          >
          <input
            type="text"
            id="materialName"
            name="songuoi"
            [(ngModel)]="form.soNguoi"
            placeholder="Nhập số người..."
          />
          <p *ngIf="isSoNguoiUnValid" class="text-red-500 text-sm mt-1">
            Vui lòng nhập số người.
          </p>
        </div>
        <div class="form-group">
          <label for="materialName"
            >Phụ phí:
            <span *ngIf="isPhuPhiUnValid" class="text-red-500">*</span></label
          >
          <select
            id="dvt"
            [(ngModel)]="form.phuPhi"
            name="phuphi"
            class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none"
          >
            <option *ngFor="let x of phuPhi" [ngValue]="x.id">
              {{ x.name }}
            </option>
          </select>
          <p *ngIf="isPhuPhiUnValid" class="text-red-500 text-sm mt-1">
            Vui lòng chọn phụ phí.
          </p>
        </div>
        <div class="form-group">
          <label for="materialName"
            >Khuyến mại:
            <span *ngIf="isKhuyenMaiUnValid" class="text-red-500"
              >*</span
            ></label
          >
          <select
            id="dvt"
            [(ngModel)]="form.khuyenMai"
            name="phuphi"
            class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none"
          >
            <option *ngFor="let x of khuyenMai" [ngValue]="x.id">
              {{ x.name }}
            </option>
          </select>
          <p *ngIf="isKhuyenMaiUnValid" class="text-red-500 text-sm mt-1">
            Vui lòng chọn khuyến mại.
          </p>
        </div>
        <div class="form-group">
          <label for="materialName"
            >Phương thức thanh toán:
            <span *ngIf="isPhuongThucThanhToanUnValid" class="text-red-500"
              >*</span
            ></label
          >
          <select
            id="pttt"
            [(ngModel)]="form.phuongThucThanhToan"
            name="phuongthucthanhtoan"
            class="border border-gray-300 rounded-md p-2 w-full bg-white focus:bg-white focus:outline-none"
          >
            <option *ngFor="let x of phuongThucThanhToan" [ngValue]="x.id">
              {{ x.name }}
            </option>
          </select>
          <p
            *ngIf="isPhuongThucThanhToanUnValid"
            class="text-red-500 text-sm mt-1"
          >
            Vui lòng chọn phương thức thanh toán.
          </p>
        </div>

        <div class="form-group">
          <label for="materialName">Trạng thái:</label>
          <input
            type="hidden"
            name="trangthai"
            value="0"
            [(ngModel)]="form.trangthai"
          />
          <input
            type="text"
            value="Chưa thanh toán"
            disabled
            class="border border-gray-300 rounded-md p-2 w-full bg-gray-100"
          />
        </div>

        <div class="flex justify-end gap-2">
          <button type="button" class="btn cancel-btn" (click)="onCancel()">
            Hủy
          </button>
          <button type="button" class="btn save-btn" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
