/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@import 'ng-zorro-antd/ng-zorro-antd.min.css';
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ebebeb;
}

.ant-notification-topRight {
  top: 24px !important;
  right: 24px !important;
  left: auto !important;
  /* Đảm bảo không bị ép sang trái */
}

.notification-success {
  background-color: #e5fcf2 !important;
  /* Màu nền */
  border: 1px solid #00ab76 !important;
  /* Màu viền */
}

.notification-success .ant-notification-notice-message {
  color: #006339;
  /* Màu chữ */
}

.notification-success .ant-notification-notice-description {
  color: #006339;
  /* Màu chữ */
}

.notification-success .ant-notification-notice-close {
  color: #006339;
}


.notification-error {
  background-color: #fce5ea !important;
  /* Màu nền */
  border: 1px solid #ef708a !important;
  /* Màu viền */
}

.notification-error .ant-notification-notice-message {
  color: #cb002b;
  /* Màu chữ */
}

.notification-error .ant-notification-notice-description {
  color: #e20030;
  /* Màu chữ */
}

.notification-error .ant-notification-notice-close {
  color: #e20030;
}

button{
  color: #fff !important;
  p {
    margin: 0 !important;
  }
}

td {
  text-align: center !important;
  padding: 0.5rem !important;
  .flex {
    align-items: center !important;
    justify-content: center !important;
  }
}

